@import url('https://fonts.googleapis.com/css?family=Palanquin:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
  font-family: 'Palanquin';
  font-weight: 400;
}

header{
  .header-top{
    background-color: #f3f3f3;
    img{
      max-height: 100px;
    }
  }
  .header-bottom{
    background-color: #b400ff;
    height: 50px;
    a{
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      transition: .2s;
      &:hover{
        color: #ccc;
        text-decoration: none;
      }
      li{
        padding: 12px 25px;
        font-size: 16px;
        font-weight: 700;
        transition: .2s;
        &.admin{
          color: #ffde00;
          font-weight: 700;
          &:hover{
            background-color: #ffde00;
            color: #958200;
            border-bottom: 3px solid #958200;
            padding: 12px 25px;
            height: 50px;
          }
        }
        &:hover{
          background-color: #a200e5;
          border-bottom: 3px solid #7200a1;
          padding: 12px 25px;
          height: 50px;
        }
      }
    }
  }
}

footer{
  background-color: #b400ff;
  padding: 15px 0px;
  text-align: center;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  bottom: 0;
  width: 100%;
  position: absolute;
  margin-top: 50px;
}

.agendamento, .login, .contato{
  h1{
    font-family: 'Lobster';
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
    color: #4e1665;
  }
  form{
    h1{
      margin-bottom: 25px;
    }
    input{
      margin-bottom: 20px;
    }
    label{
      color: #777;
      padding-left: 5px;
    }
    .btn{
      background-color: #b400ff;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      margin-top: 20px;
      transition: .2s;
      height: 50px;
      &:hover{
        background-color: #4e1665;
      }
    }
  }
}
.login{
  margin-top: 50px;
}
.cursos{
  h1{
    margin-bottom: 25px;
    font-family: 'Lobster';
    font-size: 50px;
    color: #4e1665;
    text-align: center;
  }
  .item-curso{
    height: 400px;
    position: relative;
    margin-bottom: 25px;
    img{
      object-fit: cover;
      object-position: center;
      max-height: 200px;
      width: 100%;
      border-radius: 25px;
      margin-bottom: 15px;
    }
    p{
      font-weight: 400;
      color: #888;
      text-align: justify;
    }
    .btn{
      width: 100%;
      background-color: #b400ff;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      margin-top: 20px;
      transition: .2s;
      height: auto;
      position: absolute;
      bottom: 0;
      &:hover{
        background-color: #4e1665;
      }
    }
  }
}
.contato{
  h1{
    font-size: 70px;
  }
  ul{
    padding: 0px;
    li{
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 25px;
      list-style: none;
      strong{
        font-weight: 700;
      }
    }
  }
}
